body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background-color: #eaeaea;
    margin: 0px;
}

h2, h3, h4 {
    margin: 0;
}

.login-button {
    float: right;
    padding: 18px;
    color: white;
    text-decoration: none;
    transition: 200ms;
}

.login-button:hover {
    background-color: #4c4d53;
}

.login-button.active {
    background-color: #4c4d53;
}

.page-wrapper {
    margin: auto;
    margin-top: 68px;
}

.tab-nav {
    display: block;
    overflow: hidden;
    top: 0px;
    position: fixed;
    background-color: #35363A;
    width: 100%;
    z-index: 50;
}

.tab-heading {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(172, 172, 172);
    font-weight: bold;
    font-size: 28px;
}

@media (max-width: 550px) {
    .tab-heading {
        font-size: 35px;
    }
}

small.error {
    display: none;
    padding: 0 0 20px 0;
}

small.user-error {
    display: block;
    padding: 0 0 20px 0;
    color: red;
}

.tab-signin-box {
    width: 500px;
    margin: auto;
    margin-bottom: 111px;
}

.tab-signin-box-content {
    width: 390px;
    margin: 0 auto;
}

fieldset {
    margin: 20px 26px 20px 26px;
    padding: 0px 40px 35px 40px;
    text-align: left;
    border-radius: 4px;
    border: 1px rgb(175, 175, 175) solid;
    background: white;
}

input {
    width: 98.09%;
    margin: 5px 0 5px 0;
    height: 30px;
    text-align: left;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 4px;
}

#email, #password, #fname, #lname {
    margin-bottom: 15px;
}

#submit {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 30px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #fc0;
    background: linear-gradient(to bottom, rgb(255, 236, 160), rgb(238, 190, 0));
    cursor: pointer;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 4px;
    transition: 0.05s linear;
}

#submit:hover {
    background-color: rgb(236, 189, 0);
    background: linear-gradient(to bottom, rgb(247, 228, 155), rgb(230, 184, 0));
}

#submit:active {
    box-shadow: inset 2px 2px 2px rgb(196, 156, 0), 0px 0px 5.5px rgb(163, 131, 0);
    background: linear-gradient(to bottom, rgb(230, 184, 0), rgb(241, 181, 0));

}

.row div {
    margin-bottom: 6px;
}

.row a {
    text-decoration: none;
    color: #0074da;
}

.row a:hover {
    text-decoration: underline;
    color: #b84747;
}

#checkbox {
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.showpassword span{
    position: relative;
    top: 1px;
    margin: 9px;
}

.tab-content {
    width: 50%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 3px;
    border-radius: 3px
}

.tab-nav a img {
    padding: 6px 0 0 18px;
}

article {
    display: block;
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid rgb(172, 172, 172);
}

article img {
    float: left;
    width: 150px;
    border-radius: 3px;
}

footer {
    width: 100%;
    height: 42px;
    position: absolute;
    text-align: center;
    padding-top: 20px;
    color: white;
    background-color: #35363A;
}

.movie-info {
    margin-left: 180px;
}

.title-movie {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black !important;
    transition: color 100ms ease;
}

.title-movie:hover {
    color: rgb(140, 63, 0) !important;
}

.movie-details {
    margin: 3px 0 20px 0;
    font-size: 14px;
    color: #4c4d53;
}

.movie-genre, .movie-date {
    display: block;
}

.movie-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 10px;
}

.tab-content-films {
    width: 60%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 3px;
    border-radius: 3px
}

.tab-heading-films {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid rgb(172, 172, 172);
    font-weight: bold;
    font-size: 40px;
}

.movie-details-info {
    margin-top: 15px;
}

.header-synopsis {
    text-align: center;
    margin-top: 5px;
}

.synopsis {
    padding: 10px 20px 51px 20px;
}

.movie-synopsis {
    border-bottom: 1px solid rgb(172, 172, 172);;
}

.movie-trailer {
    text-align: center;
    padding: 10px;
}

iframe {
    margin-bottom: 30px;
}